process {
    publishDir = [
        path: { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BAKTA {
        publishDir = [
            path: { "${params.output_dir}/bakta" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: PROKKA {
        publishDir = [
            path: { "${params.output_dir}/prokka" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }
}