profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
      withName: BAKTA{
               conda = "${baseDir}/conda_environments/bakta.yml"
         }
      withName: PROKKA{
               conda = "${baseDir}/conda_environments/prokka.yml"
         }
      }

   }
}
