params {
    // Pipeline Options
    input        = null
    output_dir   = 'results'
    help         = false
    version      = false
    pipeline_info = 'pipeline_info'
    publish_dir_mode = 'copy'
    
}


profiles {
   debug { process.beforeScript = 'echo $HOSTNAME' }
 
   conda {
      conda.enabled          = true
      conda.channels         = ['conda-forge', 'bioconda']
      docker.enabled         = false
      singularity.enabled    = false
      podman.enabled         = false
      shifter.enabled        = false
      charliecloud.enabled   = false
   }

   slurm {
      process.executor = 'slurm'
      process.queue    = 'normal'              // Your default SLURM queue/partition
      process.clusterOptions = ''               // Global SLURM options (e.g., '--account=myaccount')
      
      executor {
         name = 'slurm'
         queueSize = 100                       // Max jobs to submit at once
         pollInterval = '30 sec'               // How often to check job status
         dumpInterval = '5 min'                // How often to save job state
         submitRateLimit = '50/1min'           // Optional: rate limit job submission
         }
   }
}

trace {
  enabled = true
  file = "${params.pipeline_info}/pipeline_stats.txt"
  overwrite = true
  fields =  "task_id,\
  hash,\
  process,\
  tag,\
  status,\
  exit,\
  start,\
  peak_rss,\
  cpus,\
  time,\
  disk,\
  memory,\
  duration,\
  realtime,\
  queue,\
  %cpu,\
  %mem,\
  rss,\
  vmem,\
  rchar,\
  wchar"

}

timeline {
  enabled = true
  overwrite = true
  file = "$params.pipeline_info/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.pipeline_info/execution_report.html"
}

dag {
  enabled = true
  file = "${params.pipeline_info}/pipeline_dag.png"
  overwrite = true
}

process {
  errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
  maxRetries = 2
}

manifest {
  name = 'ayoraind/genome_annotation'
  author = 'Ayorinde Afolayan'
  homePage = 'https://github.com/ayoraind'
  description = 'Pipeline for annotating genome assemblies'
  mainScript = 'main.nf'
  version = '1.0dev'
}

// Load modules.config for DSL2 module specific options
includeConfig 'modules.config'